h1 Estas en la pagina de ficheros
img(src='/images/folder.png')
each item in directories
    a(href="/view/" + rootpath + "/" + item) #{item}
    br
h1 Peliculas
each item in files
    a(href="/play/" + rootpath + "/" + item) #{item}
    br